
html, body {

height: 100%;

padding: 0;

margin: 0;

background: #000;

}

body {
    position: relative;
    overflow: hidden;
}
.container {
    
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    
    
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.bg{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
}
.animate-charcter{
    text-transform: uppercase;
   
    display: inline-block;
   
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

@keyframes textclip {
    to{
        background-position: 200% center;
    }
}


.color-text{
    font-family: sans-serif;
    font-size: 50px;
    color:#fff;
    font-weight: bold;
    line-height: 77px;
    text-shadow: 0 0 10px #fff,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
    z-index: 3;
}
img{
    position: relative;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    object-fit: cover;
    /* transform: scale(1.3); */
    overflow: hidden;
    /* border-radius: 50%; */
    box-shadow: 1px 1px 8px 2px rgb(102 187 140 / 80%);
    z-index: 1;
    border-radius: 50%;
    /* border: 4px solid transparent; */

}
.img{
    position: absolute;
    bottom: 18px;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1{
    top: 10px;
}
.img::before{
 content: '';
 position: absolute;
 width: 50%;
 height: 140%;
 background: linear-gradient(#00ccff,#d400d4);
 animation: animate 5s linear infinite; 
 z-index: 1;
 left: 25%;
 top: -20%;
 /* border-radius: 0%; */
}
.img::after{
    content: '';
    position: absolute;
    background: #000;
    inset: 4px;
    border-radius: 16px;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.img-text{
    background: #000;
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    z-index: 2;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    color: #fff;
    font-size: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 1px 0px 15px rgb(255 255 255 / 25%);
}
  /* customizable snowflake styling */
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-1%}100%{top:100%}}@-webkit-keyframes 
  snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
  50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
  100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
  @keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
  .snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
    cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}
    .snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
    .snowflake:nth-of-type(2){left:10%;-webkit-animation-delay:0.5,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
    .snowflake:nth-of-type(4){left:20%;-webkit-animation-delay:0.5,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
    .snowflake:nth-of-type(6){left:30%;-webkit-animation-delay:0.5,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
    .snowflake:nth-of-type(8){left:40%;-webkit-animation-delay:0.5,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
    .snowflake:nth-of-type(10){left:40%;-webkit-animation-delay:0.5,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
    .snowflake:nth-of-type(12){left:40%;-webkit-animation-delay:0.5,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
    .snowflake:nth-of-type(14){left:40%;-webkit-animation-delay:0.5,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
    .snowflake:nth-of-type(16){left:40%;-webkit-animation-delay:0.5,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

 
    /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }
  
  @media only screen and (min-width: 992px)  {
    .item-img .img{
        position: relative;
        width: 350px;
        height: 350px;
    }
    .container{
        justify-content: space-between;
    }
    canvas {
        width: 70%;
        height: 136%;
        transform: translateX(22%);
    }
  }
  @media only screen and (min-width: 1350px)  {
    .item-img .img{
        width: 400px;
        height: 400px;
    }
  }


  .my-form {
    padding: 2em;
    color: #fff;
    max-width: 55vh;
    margin-inline: auto;
  }
  h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
  }
  .form-control {
    background-color: inherit;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding-left: 0;
  }
  .form-control:focus {
    background-color: inherit;
    color: #fff;
    box-shadow: none;
    border-color: #fff;
  }
  .btn {
    border-radius: 0;
    width: 100%;
    font-weight: bold;
  }
  .my-form p {
    color: gray;
    text-align: center;
  }
  
  .my-form p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  .my-form p a:hover {
    color: #fff;
  }
  
  .form-control {
    max-width: 100%;
    width: 500px;
}
.form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 991px)  {
  .my-form {
    padding: 1em;
    max-width: 90%;
  }
  .container{
      flex-direction: column;
  }
  .img {
    width: 200px;
    height: 200px;
    bottom: 10px;
  }
  .img1 {
      top: 20px;
  }
  .item-img {
      width: 100%;
      display: flex;
      justify-content: center;
  }
  canvas {
      height: 75%;
  }
  h1 {
    font-size: 27px;
  }
}